body {
    margin-top: 20px;
    background-color: #f1f3f7;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;



    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #eee !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none !important;
}

.w-xl {
    min-width: 160px;
}

.card {
    button {
        border: none;
        color: red;
        height: 50px;
        width: 50px;
        font-size: 20px;
        background-color: white;
    }

    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.render-home {
    cursor: pointer;
    opacity: 0.6;
    border-bottom: 1px solid #ddd;


}

select {
    margin-top: 10px;
    border: none;
    background: #ddd;

    // &:active {
    //     background: pink;
    //     color: #ddd;
    // }
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}

.infomation {
    font-weight: 600;
    padding-bottom: 30px;
}

.text-sm-end {
    button {
        border: none;
        min-width: 90px;
        min-height: 35px;
        border-radius: 8%;
        background-color: #23c7e4;

        &:hover {
            color: white;
        }
    }


}